

td.right-top-menu-space {
	width:25px;
}

td.left-top-menu-space-fr {
	width:28px;
}

td.right-top-menu-space-fr {
	width:26px;
}



td.center-top-menu-space {
	width:450px;
}


td.center2-top-menu-space {
	width:283px;
}

td.center-top-menu-space-fr {
	width:485px;
}


td.center2-top-menu-space-fr {
	width:248px;
}
