#IDE files
/.idea/
/.nbproject/
/nbproject/
/.vscode/

#cfg
/cron/.htaccess
/scripts/.htaccess
/configuration.php
/administrator/components/com_virtuemart/virtuemart.cfg.php
/.htaccess

#environment
/php.ini
/logs/
/.ssh/
/.gitconfig
/.bash_history
/.vminfo
/error_php.log
/Thumbs.db
id_rsa*
*.DS_Store
/php-session/


#content - generated locally
/images/landing_images/
/scripts/landing_images/
/sitemaps/
/auspost_ondemand_request_response/
/auspost_request_response/
/error_log.txt
/sitemap.html
/components/com_sef/cache/
/administrator/images/qrCodes/

#content - product install
/components/com_virtuemart/shop_image/product/
/components/com_virtuemart/shop_image/category/
/images/banners/
/images/header_images/
/images/thankyou_images/
/images/exit_popup/
/mailbot/
/nzpost_request_response/
/robots.txt
configuration_bk/
