<table width="75%">
  <tr>
    <td rowspan=4><img src="components/com_dbquery/images/dbq_large.jpg" width="200" height="200" align="middle"/></td>
    <td>Interested in a professional consultant with experience in the technology that you use to grow your business or organization?  Who is better to ask than someone that has created solutions for hundreds of people like yourself.</td>
  </tr>
  <tr>
    <td>With reasonable rates and years of experience in database, application, and web technologies, our team of programmers can help you achieve your goals without going over budget.  We cater to small organizations, for-profit and non-profit, interested in a solid, dependable application that will put them on the web.</td>
  </tr>
  <tr>
    <td>Our specializations include:
      <ul>
        <li>Site Development
        <li>Database Design and Optimization
        <li>Joomla Customization
        <li>Oracle Installation and Administration
        <li>MySQL Installation and Administration
        <li>Technical Writing
      </ul>
    </td>
  </tr>
  <tr>
    <td>If you need help making your site the power that it should be, we would be interested in talking with you.  Visit us on the web at <a href="http://www.gmitc.biz" alt="GMITC">http://www.gmitc.biz</a>, or by sending e-mail at <a href="mailto:consulting@gmitc.biz">consulting@gmitc.biz</a> .
    </td>
  </tr>
  <tr>
    <td align="center">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_xclick">
  </input>

  <input type="hidden" name="business" value="tcp@cat.pdx.edu">
  </input>
  <!-- return should be routed to a thank you page -->
  <input type="hidden" name="no_shipping" value="0">
  </input>
  </input>
  <input type="hidden" name="item_name" value="Toby Patterson">
  </input>
  <input type="image" src="components/com_dbquery/images/pp.gif" border="0" name="submit" alt="Donate to DBQuery with PayPal - it's fast, free and secure">
  </input>
</form>
    </td>
    <td>If you wish to make a donation for the service that you enjoy, you may do so via paypal.
    </td>
  </tr>

</table>
