<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    </head>
    <body bgcolor="#FFFFFF" style="color:#767675; font: bold 12px Arial; line-height: 28px;width:600px; text-align: justify;">
    Dear {First_Name},
    Please be advised that the Platinum Club Membership associated with {email_address} has been flagged for potential misuse according to our Terms & Conditions. A Bloomex Account Manager will review usage and update accordingly.
    <a href="https://bloomex.com.au/Vases-Cards-Chocolates/Platinum-Club.html" target="_blank" style="color: #9097e1;">"Click Here"</a>
        <br />
        <br />
        Best Regards,
        <br />
        <br />
        Bloomex
        <br />
        <img src="http://media.bloomex.ca/bloomex.ca/bloomexlogo.png" width="160" />
        <br />
        <span style="font-weight: bold; font-size: 12px;">1-800-905-147</span>
    </body>
</html>
