<html>
<head>
<title>confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-15">
<style type="text/css">
<!--
.style2 {font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}
.style8 {font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.style10 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; }
.style11 {color: #ffffff}
-->
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (confirmation3.psd) -->
<table width="535" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
  <tr>
    <td><table id="Table_01" width="568" height="4027" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="4"><img src="http://bloomex.ca/images/confirmation3_01.gif" alt="" width="568" height="158" border="0"></td>
      </tr>
      <tr>
        <td><table width="266" height="150" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="16">&nbsp;</td>
            <td align="left" valign="bottom"><span class="style2">{phpShopVendorName}<br>
{phpShopVendorStreet1}<br>
{phpShopVendorStreet2}<br>
{phpShopVendorZip} <br>
{phpShopVendorCity}<br>
<br>
{phpShopOrderHeaderMsg} <br>
<br>
{phpShopOrderHeader} </span></td>
          </tr>
        </table></td>
        <td><img src="http://bloomex.ca/images/confirmation3_03.gif" width="39" height="150" alt=""></td>
        <td><table width="246" height="150" border="0" cellpadding="0" cellspacing="0" background="http://bloomex.ca/images/confirmation3_04.gif">
          <tr>
            <td height="25" colspan="2" align="left" valign="bottom"><span class="style4">Ordre 
              d'Achat:</span></td>
          </tr>
          <tr>
            <td width="104" height="100" align="left" valign="middle"><span class="style10">Num&eacute;ro 
              de Commande: <br>
Date de Commande: <br>
Statut de la Commande:</span></td>
            <td width="142" height="60" align="right" valign="middle"><span class="style10">{phpShopOrderNumber}<br>
                <br>
{phpShopOrderDate}<br>
<br>
{phpShopOrderStatus}</span></td>
          </tr>
          <tr>
            <td align="left" valign="bottom"><span class="style10">Polique 
              de Retour:</span></td>
            <td align="right" valign="bottom" class="style2 style11"><a href="#return_policy">Information important</a></td>
          </tr>
        </table></td>
        <td><img src="http://bloomex.ca/images/confirmation3_05.gif" width="17" height="150" alt=""></td>
      </tr>
      <tr>
        <td colspan="4"><img src="http://bloomex.ca/images/confirmation3_06.gif" width="568" height="32" alt=""></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td><span class="style8">Information Client</span></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="266" height="270" border="0" cellpadding="0" cellspacing="0" background="http://bloomex.ca/images/confirmation3_08.gif" align="bottom">
          <tr>
            <td width="16">&nbsp;</td>
            <td align="left" valign="bottom"><p class="style2"><strong>Factur&eacute;e 
              &agrave;:</strong><br>
              <br>
Company: <br>
Soci&eacute;t&eacute;: <br>
Adresse:</p>
              <p class="style2">Ville::<br>
                Etat/Province/R&eacute;gion:<br>
                Code postal:<br>
                Pays:<br>
                T&eacute;l&eacute;phone:<br>
                Fax:<br>
                Courriel:<br>
                <br>
                <br>
              </p>
              </td>
            <td align="right" valign="bottom"><span class="style2">{phpShopBTCompany}<br>
{phpShopBTName}<br>
{phpShopBTStreet1}<br>
{phpShopBTStreet2}<br>
{phpShopBTCity}<br>
{phpShopBTState}<br>
{phpShopBTZip}<br>
{phpShopBTCountry}<br>
{phpShopBTPhone}<br>
{phpShopBTFax}<br>
{phpShopBTEmail}<br>
            <br>
            </span><br></td>
          </tr>
        </table></td>
        <td><img src="http://bloomex.ca/images/confirmation3_09.gif" width="39" height="270" alt=""></td>
        <td colspan="2"><table width="263" height="270" border="0" cellpadding="0" cellspacing="0" background="http://bloomex.ca/images/confirmation3_10.gif" align="bottom">
          <tr>
            <td width="93" align="left" valign="bottom"><p class="style2"><strong>Livr&eacute;e &agrave;:</strong><br>
                <br>
Company: <br>
Soci&eacute;t&eacute;: <br>
Adresse:</p>
              <p class="style2">Ville::<br>
                Etat/Province/R&eacute;gion:<br>
                Code postal:<br>
                Pays:<br>
                T&eacute;l&eacute;phone:<br>
                Fax:<br>
                Courriel:<br>
                <br>
                <br>
              </p>
              </td>
            <td align="right" valign="bottom"><span class="style2">{phpShopSTCompany}<br>
{phpShopSTName}<br>
{phpShopSTStreet1}<br>
{phpShopSTStreet2}<br>
{phpShopSTCity}<br>
{phpShopSTState}<br>
{phpShopSTZip}<br>
{phpShopSTCountry}<br>
{phpShopSTPhone}<br>
{phpShopSTFax}<br>
<br>
<br>
            </span><br></td>
            <td width="17">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td><span class="style8">El&eacute;ments de la Commande</span></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="310" border="0" cellpadding="0" cellspacing="0" align="bottom">
          <tr>
            <td width="16" rowspan="3">&nbsp;</td>
            <td width="143" height="20" align="left" valign="bottom"><span class="style2">Produit:</span></td>
            <td width="147" align="left" valign="bottom"><span class="style2">Ref:</span></td>
            <td width="93" align="left" valign="bottom"><span class="style2">QT&Eacute;:</span></td>
            <td width="152" align="left" valign="bottom"><span class="style2">Prix:</span></td>
            <td width="17" rowspan="3">&nbsp;</td>
          </tr>
          <tr>
            <td height="180" colspan="4" align="left" valign="top"><table width="535" height="180" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top"><span class="style2"><br>
                  {phpShopOrderItems}</span></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="bottom"><span class="style2">{phpShopOrderDisc1} <br>
{phpShopOrderDisc2} <br>
{phpShopOrderDisc3}<br>
<br>
<br>
            </span></td>
            <td align="left" valign="bottom"><span class="style2">Sous-Total:<br>
Livraison:<br>
Total des Taxes:<strong><br>
<br>
<strong>Total:</strong></strong><strong><br>
<br>
<br>
</strong></span></td>
            <td align="right" valign="bottom"><span class="style2">{phpShopOrderSubtotal}<br>
{phpShopOrderShipping}<br>
{phpShopOrderTax}<br>
<br>
<strong>{phpShopOrderTotal}</strong><br>
            <br>
            </span><br></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td><span class="style8">Notes du Client</span></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="115" border="0" cellpadding="0" cellspacing="0" background="http://bloomex.ca/images/confirmation3_14.gif" align="bottom">
          <tr>
            <td width="16">&nbsp;</td>
            <td align="left" valign="top"><br>
              <span class="style2">{phpShopCustomerNote}</span></td>
            <td width="17">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td width="289"><span class="style8">{PAYMENT_INFO_LBL}</span></td>
            <td><span class="style8">{SHIPPING_INFO_LBL}</span></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="266" height="87" border="0" cellpadding="0" cellspacing="0" align="bottom">
          <tr>
            <td width="16">&nbsp;</td>
            <td align="left" valign="top"><br>
              <span class="style2">{PAYMENT_INFO_DETAILS}<br>
              </span></td>
          </tr>
        </table></td>
        <td><table width="39" height="87" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        <td colspan="2"><table width="263" height="87" border="0" cellpadding="0" cellspacing="0" align="bottom">
          <tr>
            <td align="left" valign="top"><br>
              <span class="style2"><strong>Date De Livraison:  {phpShopDeliveryDate}</strong><br>
{SHIPPING_INFO_DETAILS}</span></td>
            <td width="17">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td><span class="style8">Special Instructions</span></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="394" border="0" cellpadding="0" cellspacing="0" background="http://bloomex.ca/images/confirmation3_20.gif" align="bottom">
          <tr>
            <td width="16">&nbsp;</td>
            <td align="left" valign="top"><br>
              <p class="style2"><br>
                -----Bloomex Inc --   GST:816249072------QST:1212969393------------------PST:R455476<BR>
                  <BR>
                  SVP notez   que les politiques ci-dessous s&rsquo;appliquent &agrave; toute notre client&egrave;le. En re&ccedil;evant   cette courriel, vous confirmez que vous convenez &agrave; nos termes et conditions   ainsi que nos politique de remboursement et d&rsquo;&eacute;change.<BR>
                  Si vous ne convenez   pas avec la politique ci-dessous, svp annulez votre commande en envoyant un   courriel &agrave; <A href="mailto:avecsoins@bloomex.ca">avecsoins@bloomex.ca</A> et   indiquez votre num&eacute;ro de commande. SVP notez: A cause de la nature p&eacute;rissable de   nos produits, nous acceptons seulement les plaintes au sujet de la qualit&eacute;   jusqu&rsquo; &agrave; 7 jours apr&egrave;s la date de livraison.</p>
              <p class="style2">Nous appr&eacute;cions votre patronage.</p>
              <span class="style2">Regardez   la commande en suivant le lien ci dessous.<BR>
               <a href="https://bloomex.ca/index.php?page=account.index&&option=com_virtuemart&Itemid=1&lang=en">https://bloomex.ca/index.php?page=account.index&&option=com_virtuemart&Itemid=1&lang=fr</a><br>
              </td>
            <td width="17">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="2394" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="16" rowspan="2" align="left" valign="top">&nbsp;</td>
            <td align="left" valign="top">
                <p class="style2"><A href="#top">Return au d&eacute;but</A></p>
                <p class="style2">&nbsp;</p>
                  <br></td>
            <td width="17" rowspan="2" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td height="900" align="left" valign="top"><br>
                <span class="style2">{phpShopOrderClosingMsg}</span><br></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

</body>
</html>
