</form>
<form method="post" action="index2.php?option=com_exit_page_pop_up&task={TASK}&id={ID}" enctype="multipart/form-data">
    <table class="adminheading" width="100%">
        <tbody><tr>
                <th>{HEADER}</th>
            </tr>
        </tbody></table>
    <input type="hidden" name="option" value="com_exit_page_pop_up"/>
    <input type="hidden" name="task" value="{TASK}"/>  
    <table  class="adminlist" id="big_tabe">
        <tr>
        <td>Message:</td><td><textarea name="popup_message">{POPUP_MESSAGE}</textarea></td>
        </tr>
        <tr>
            <td>Lang:</td>
            <td><select name="lang">
                    <option {SELECTED_EN} value="en">English</option>
                    <option {SELECTED_FR} value="fr">French</option>
            </select></td>
        </tr>        
         <tr>
            <td>Product ID:</td><td><input name ="product_id" type="text" size="20" maxlength="255" value="{PRODUCT_ID}" /></td>
        </tr>
         <tr>
             <td>Active:</td><td><input name ="popup_active" type="checkbox" value="{P}" {POPUP_ACTIVE} onclick="if(this.checked){this.value = 1} else {this.value = 0}"/></td>
        </tr>
    </table>
    
    <input type="submit" value="submit"/>
    <input type="button" value="cancel" onclick="window.location.href='/administrator/index2.php?option=com_exit_page_pop_up'"/>
</form>

<form>