<html>
<head>
<title>confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body style="font:normal 12px Tahoma, Verdana;" bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (confirmation3.psd) -->
<table width="568" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
  	<tr>
    	<td>
			<table width="568" border="0" cellpadding="0" cellspacing="0">
			  	<tr>
					<td colspan="4" align="left"><img src="http://bloomex.ca/images/confirmation3_01.gif" width="568" height="158" alt=""></td>
			  	</tr>
      			<tr>
        			<td width="266" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
						  	<tr>
								<td width="16">&nbsp;</td>
								<td align="left" valign="top">
									<span class="style2">
										{phpShopVendorName}<br>
										{phpShopVendorStreet1}<br>
										{phpShopVendorStreet2}<br>
										{phpShopVendorZip} <br>
										{phpShopVendorCity}<br><br>
										{phpShopOrderHeaderMsg}<br><br>
										{phpShopOrderHeader} 
									</span>
								</td>
						  	</tr>
        				</table>
				  	</td>
       				<td width="39" valign="top"><img src="http://bloomex.ca/images/confirmation3_03.gif" width="39" height="150" alt=""></td>
       				<td width="246" height="150" valign="top" background="http://bloomex.ca/images/confirmation3_04.gif">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
          					<tr>
            					<td height="31" colspan="2" align="left" valign="top"><span class="style4">Order Information:</span></td>
          					</tr>
							<tr>
								<td width="94" align="left" valign="top">
									<span class="style10">Order Number: <br>
									Order Date: <br>
									Order Status:</span>
								</td>
								<td width="152" align="right" valign="top">
									<span class="style10">{phpShopOrderNumber}<br>
									{phpShopOrderDate}<br>
									{phpShopOrderStatus}</span>
								</td>
						  	</tr>
         					<tr>
            					<td colspan="2" align="left" valign="top">
									<span class="style10">Return Policy:<br></span>
									<span class="style10"><a href="#return_policy">Important information enclosed</a></span>
								</td>
          					</tr>
        				</table>
				  </td>
        			<td width="17" valign="top"><img src="http://bloomex.ca/images/confirmation3_05.gif" width="17" height="150" alt=""></td>
      			</tr>
      			<tr>
        			<td colspan="4"><img src="http://bloomex.ca/images/confirmation3_06.gif" width="568" height="32" alt=""></td>
      			</tr>
      <tr>
        <td colspan="4"><table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td style="font:bold 12px Tahoma, Verdana;color:#FFFFFF;">Customer Information</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top">
			<table width="266" border="0" cellpadding="0" cellspacing="3" background="http://bloomex.ca/images/confirmation3_08.gif">
			  <tr>
				<td>&nbsp;</td>
				<td align="left" valign="top" colspan="2"><strong>Bill to:</strong></td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Company:</td>
				<td>{phpShopBTCompany}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Full name:</td>
				<td>{phpShopBTName}</td>
			  </tr>			  
			  <tr>
				<td>&nbsp;</td>
				<td valign="top">Address:</td>
				<td valign="top">
					{phpShopBTStreet1}<br>
					{phpShopBTStreet2}
				</td>
			  </tr>		
			   <tr>
				<td>&nbsp;</td>
				<td>City:</td>
				<td>{phpShopBTCity}</td>
			  </tr>	  
			  <tr>
				<td>&nbsp;</td>
				<td>State/Region:</td>
				<td>{phpShopBTState}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Zip:</td>
				<td>{phpShopBTZip}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Country:</td>
				<td>{phpShopBTCountry}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Phone:</td>
				<td>{phpShopBTPhone}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Fax:</td>
				<td>{phpShopBTFax}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Email:</td>
				<td>{phpShopBTEmail}</td>
			  </tr>			 
        	</table><br><br>
		</td>
        <td valign="top">&nbsp;</td>
        <td colspan="2" valign="top">
		<table width="266" border="0" cellpadding="3" cellspacing="0" background="http://bloomex.ca/images/confirmation3_08.gif">
			  <tr>
				<td>&nbsp;</td>
				<td align="left" valign="top" colspan="2"><strong>Ship to:</strong></td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Company:</td>
				<td>{phpShopSTCompany}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Full name:</td>
				<td>{phpShopSTName}</td>
			  </tr>			  
			  <tr>
				<td>&nbsp;</td>
				<td valign="top">Address:</td>
				<td valign="top">
					{phpShopSTStreet1}<br>
					{phpShopSTStreet2}
				</td>
			  </tr>				  		  
			  <tr>
				<td>&nbsp;</td>
				<td>City:</td>
				<td>{phpShopSTCity}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>State/Region:</td>
				<td>{phpShopSTState}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Zip:</td>
				<td>{phpShopSTZip}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Country:</td>
				<td>{phpShopSTCountry}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Phone:</td>
				<td>{phpShopSTPhone}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Fax:</td>
				<td>{phpShopSTFax}</td>
			  </tr>
			  <tr>
				<td>&nbsp;</td>
				<td>Email:</td>
				<td>{phpShopSTEmail}</td>
			  </tr>			 
        	</table><br><br>
		</td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td style="font:bold 12px Tahoma, Verdana;color:#FFFFFF;">Order Items</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="310" border="0" cellpadding="0" cellspacing="0" align="bottom">
          <tr>
            <td width="16" rowspan="3">&nbsp;</td>
            <td width="143" height="20" align="left" valign="top"><span class="style2">              Name:</span></td>
            <td width="147" align="left" valign="top"><span class="style2">SKU:</span></td>
            <td width="93" align="left" valign="top"><span class="style2">QTY:</span></td>
            <td width="152" align="left" valign="top"><span class="style2">Price:</span></td>
            <td width="17" rowspan="3">&nbsp;</td>
          </tr>
          <tr>
            <td height="180" colspan="4" align="left" valign="top"><table width="535" height="180" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top"><span class="style2">                  <br>
                  {phpShopOrderItems}</span></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top"><span class="style2">{phpShopOrderDisc1} <br>
{phpShopOrderDisc2} <br>
{phpShopOrderDisc3}<br>
            <br>
            <br>
            </span></td>
            <td align="left" valign="top">
	            <span class="style2">
		            Subtotal:<br>
					Shipping:<br>
					Tax Total:<br>
					<strong>Total:</strong>
				</span>
			</td>
            <td align="right" valign="top">
	            <span class="style2">
		            {phpShopOrderSubtotal}<br>
					{phpShopOrderShipping}<br>
					{phpShopOrderTax}<br>
					<strong>{phpShopOrderTotal}</strong>
	            </span>
            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4">
        <table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td style="font:bold 12px Tahoma, Verdana;color:#FFFFFF;">Customer Note</td>
          </tr>
        </table>
        </td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="115" border="0" cellpadding="0" cellspacing="0" background="http://bloomex.ca/images/confirmation3_14.gif" align="bottom">
          <tr>
            <td width="16">&nbsp;</td>
            <td align="left" valign="top"><br>
              <span class="style2">{phpShopCustomerNote}</span></td>
            <td width="17">&nbsp;</td>
          </tr>
        </table></td>
      </tr> 
      <tr>
        <td colspan="4">
        <table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td style="font:bold 12px Tahoma, Verdana;color:#FFFFFF;">Signature</td>
          </tr>
        </table>
        </td>
      </tr>
      <tr>
        <td colspan="4">
	        <table width="568" height="115" border="0" cellpadding="0" cellspacing="0" background="http://bloomex.ca/images/confirmation3_14.gif" align="bottom">
	          	<tr>
		            <td width="16">&nbsp;</td>
		            <td align="left" valign="top"><br>
		              	<span class="style2">{phpShopCustomerSignature}</span></td>
		            <td width="17">&nbsp;</td>
	          	</tr>
	        </table>
        </td>
      </tr>
      <tr>
        <td colspan="4">
        <table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td style="font:bold 12px Tahoma, Verdana;color:#FFFFFF;">Instructions and comments</td>
          </tr>
        </table>
        </td>
      </tr>
      <tr>
        <td colspan="4">
	        <table width="568" height="115" border="0" cellpadding="0" cellspacing="0" background="http://bloomex.ca/images/confirmation3_14.gif" align="bottom">
	          	<tr>
		            <td width="16">&nbsp;</td>
		            <td align="left" valign="top"><br>
		              	<span class="style2">{phpShopCustomerInstructions}</span></td>
		            <td width="17">&nbsp;</td>
	          	</tr>
	        </table>
        </td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td width="289" style="font:bold 12px Tahoma, Verdana;color:#FFFFFF;">{PAYMENT_INFO_LBL}</td>
            <td style="font:bold 12px Tahoma, Verdana;color:#FFFFFF;">{SHIPPING_INFO_LBL}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="266" height="87" border="0" cellpadding="0" cellspacing="0" align="bottom">
          <tr>
            <td width="16">&nbsp;</td>
            <td align="left" valign="top"><br>
              <span class="style2"><b> <br> NOT AVAILABLE OVER E-MAIL DUE TO SECURITY REASONS</b></span></td>
          </tr>
        </table></td>
        <td><table width="39" height="87" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        <td colspan="2"><table width="263" height="87" border="0" cellpadding="0" cellspacing="0" align="bottom">
          <tr>
            <td align="left" valign="top"><br>
              <span class="style2"><strong>Delivery Date: {phpShopDeliveryDate}</strong><br>
{SHIPPING_INFO_DETAILS}</span></td>
            <td width="17">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="22" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
          <tr>
            <td width="16">&nbsp;</td>
            <td style="font:bold 12px Tahoma, Verdana;color:#FFFFFF;">Special Instructions</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4">
		<table width="568" height="394" border="0" cellpadding="0" cellspacing="0" background="http://bloomex.ca/images/confirmation3_20.gif" align="bottom">
          <tr>
            <td width="16">&nbsp;</td>
            <td align="left" valign="top"><br>
                <br>
                  <p class="style2">Bloomex Inc --  GST:816249072 -- QST:1212969393 -- BC PST:R455476 -- ON PST:5035-4523<br>
  &nbsp;<br>
  <br>
                    Please note, that below  listed policy is the same for everyone. By  receiving this email  you confirm, that you have agreed to our terms and conditions as well as  all additional charges that arise in redelivering, cancellation, incorrect delivery address and requests for refund.<br>
  <br>
                    If you are not agreed  with below, please cancel your order right away by sending email to <a href="mailto:wecare@bloomex.ca">wecare@bloomex.ca</a> indicating your order number. No cancellation fee will apply in this case.</p>
                  <p class="style2"><strong>Please note:</strong>  Due  to the perishable  nature of our products, we only accept complaints regarding quality up to  7 days following the delivery date.</p>
                  <p class="style2"><strong>Please note:</strong> Email is our primary method of communication. Please make sure that you check it on a regular basis.<br>
  &nbsp;<br>
                    Thank you for your  patronage.<br>
  &nbsp;<br>
                   To view your order, click <a href="https://bloomex.ca/index.php?page=account.index&&option=com_virtuemart&Itemid=1&lang=en">https://bloomex.ca/index.php?page=account.index&&option=com_virtuemart&Itemid=1&lang=en</a><br>
                </td>
            <td width="17">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="4"><table width="568" height="0" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="16" rowspan="2" align="left" valign="top">&nbsp;</td>
            <td align="left" valign="top"><br>
                
                  <p class="style2"><a href="#top">Return to top</a></p>
                <br></td>
            <td width="17" rowspan="2" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top"><br>
                <span class="style2">{phpShopOrderClosingMsg}</span><br></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
