body{margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, Sans Serif;font-size:11px;color:Black;background-color:#B0C4DE;text-align:left; /*not christmas background-color:#B0C4DE;*/}
body #new-main-container{background-color:#ffffff;}
table.fullPage{background:#ffffff url(../images/main_bg.jpg) top center repeat-y;}
hr{background:Black;height:1px;width:100%;}
ul#mainlevel-nav{font-size:11px;list-style:none;padding:0;margin:0;font-size:0.8em;}
ul#mainlevel-nav li{display:block;background-image:none;padding-left:1px;padding-right:1px;float:left;margin:0;width:auto !important;font-size:11px;font-weight:bold;}
ul#mainlevel-nav li a{font-size:11px;display:block;padding-left:16px;padding-right:15px;text-decoration:none;color:#663366;background:transparent;font-weight:bold;}
ul#mainlevel-nav li a:hover{font-size:11px;color:#333333;font-weight:bold;}
.maintitle{color:#cc0000;font-size:11px;padding-left:5px;padding-top:5px;}
.error{font-style:italic;text-transform:uppercase;padding:5px;color:#cccccc;font-size:14px;font-weight:bold;}
.back_button{border:2px solid #cc0000;margin:15px 0px 10p 0px;font-weight:bold;font-size:11px;cursor:pointer;float:left;width:40px;padding:4px;}
a{text-decoration:none;}
table.contentpaneopen{width:98%;margin:15px;padding:0px;border-collapse:collapse;border-spacing:0px;}
table.new-search-page{color:#767675;font-size:14px;text-align:center;padding:0px;border-collapse:collapse;border-spacing:0px;}
table.contentpane td{margin:0px;padding:0px;}
table.contentpane td.contentheading{padding-left:20px;padding-top:0px;padding-bottom:9px;}
.button{font:bold 10px Verdana, Arial, Helvetica, sans-serif;background-color:#333366;margin-bottom:0px;color:#FFFFFF;padding:1px;cursor:pointer;}
.button-bigger{padding:7px 5px 7px 5px;font-size:12px;}
.inputbox{background-color:rgb(250,250,250);padding-right:18px;font-family:verdana, arial, sans serif;color:rgb(52,35,91);font-size:10px;border:1px solid #767675;-webkit-appearance:none;}
.inputboxRev{padding:1px;margin:0px;font:12px Arial;border:1px solid #CCC;color:#767675;box-shadow:0 0 6px 1px #DDD;}
select.inputbox{background:url('/images/selectList.jpg') no-repeat right;padding-right:18px;font-family:verdana, arial, sans serif;color:rgb(52,35,91);border:1px solid #767675;-webkit-appearance:none;}
.inputbox-new{border:1px solid #767675;background-color:rgb(250,250,250);font-family:verdana, arial, sans serif;color:#767675;font-size:10px;text-align:center;}
.contentheading{background:url(../images/contenthead.png) no-repeat;text-align:left;padding-left:20px;padding-bottom:12px;font-weight:bold;font-size:11px;white-space:nowrap;}
.contentpagetitle{font-size:11px;font-weight:bold;color:#cccccc;text-align:left;}
.componentheading{color:#767675;font-size:16px;text-align:center;}
.search-button{display:block;background:url(/images/search_button.png);width:60px;height:22px;border:none;}
.search-price{width:200px;color:#767675;float:left;}
table.searchinto{width:100%;}
table.searchintro td{color:#767675;}
.page-s-table{width:100%;margin:10px;font-size:12px;color:#767675;}
.search-result{margin:10px;color:#767675;}
.page-s-prices{line-height:14px;}
.page-s-red{font-size:18px;color:#a23232;}
.page-s-red a, .page-s-red a:visited{color:#a23232;}
.page-s-price-red{font-size:14px;color:#a23232;}
.page-s-content-price{font-size:14px;}
.page-s-content-red{font-size:14px;color:#a23232;}
table.moduletable{width:100%;padding:0px;border-spacing:0px;border-collapse:collapse;margin-left:0px;margin-right:0px;font-family:Verdana,Arial, Helvetica, sans-serif;}
table.moduletable th{color:Black;text-align:left;font-weight:bold;}
table.moduletable td{padding:0px;margin:0x;}
table.pollstableborder td{padding:2px;}
.sectiontableheader{font-weight:bold;background:rgb(216,190,232);padding:4px;font-size:11px}
.sectiontablefooter{}
.sectiontableentry1{background-color:#e9e9e9;color:#767675;}
.sectiontableentry2{background-color:#F1F1F1;color:#767675;}
.sectiontableentry1 a, .sectiontableentry1 a:visited{color:#a23232;}
.sectiontableentry2 a, .sectiontableentry2 a:visited{color:#a23232;}
.sectiontableentry1 a:hover, .sectiontableentry2 a:hover{color:#000;}
.small{color:#999999;font-size:9px;font-weight:bold;font:Verdana, Geneva, Arial, Helvetica, sans-serif;}
.createdate{height:15px;padding-bottom:10px;color:#999999;font-size:9px;font-weight:bold;font:Verdana, Geneva, Arial, Helvetica, sans-serif;}
.modifydate{height:15px;padding-top:10px;color:#999999;font-size:9px;font-weight:bold;font:Verdana, Geneva, Arial, Helvetica, sans-serif;}
table.contenttoc{border:1px solid #cccccc;padding:2px;margin-left:2px;margin-bottom:2px;}
table.contenttoc th{background:url(../images/subhead_bg.png) repeat-x;color:#666666;padding-top:2px;padding-left:4px;height:21px;font-weight:bold;font-size:10px;text-transform:uppercase;}
a.mainlevel:link, a.mainlevel:visited{color:#333366;font-size:11px;text-decoration:none;text-align:left;background:url(../images/menu_hover.gif) top left no-repeat;padding-left:12px !important;padding-top:2px !important;line-height:19px;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;}
a.mainlevel:hover{color:#CC0000;background:url(../images/menu_hover.gif) top left no-repeat;text-decoration:underline;}
a.sublevel:link, a.sublevel:visited{color:Black;text-decoration:none;text-align:left;display:block;padding-left:14px !important;padding-top:5px !important;height:25px !important;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;}
a.sublevel:hover{color:#009933;text-decoration:none;background:url(../images/menu_hover.gif) top left no-repeat;}
.sitemap{color:#000066;text-align:left;padding-top:9px;padding-left:6px;font-weight:bold;font-size:11px;font-weight:bold;font-size:11px;width:80%;}
#active_menu{color:#FF0000;font-weight:bold;text-decoration:underline;}
a#active_menu:hover{color:#838383;font-weight:bold;text-decoration:underline;}
a.readon:link, a.readon:visited{color:#838383;text-decoration:none;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;list-style:inside url(../images/read.png);list-style-type:disc;display:list-item;white-space:normal;font-weight:normal;padding-bottom:8px;}
.pagenavbar{padding-right:5px;float:right;}
.pagenav{background:#b58ab8;text-align:center;font-size:10px;font-weight:bold;width:auto;padding:4px;line-height:20px;margin:1px;color:#FFF;}
a.pagenav, a.pagenav:visited{background:#767675;color:#FFF;}
a.readon:hover{color:#C4C4C4;text-decoration:underline;font-weight:normal;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;list-style-type:disc;display:list-item;white-space:normal;}
.highlight{background-color:Yellow;color:#003366;padding:0px 2px 0px 2px;}
.code{background-color:#ddd;border:1px solid #bbb;}
#buttons{margin:0x;padding:0px;float:right;height:20px;background-color:#333366;color:#fffff;font-family:Verdana,Arial, Helvetica, Sans Serif;text-align:center;font-size:10px;font-weight:bold;}
#fullPage{FONT-SIZE:0.7em;COLOR:rgb(92,96,98);FONT-FAMILY:verdana, arial, sans serif;}
TD.borderLeftBottom{background:url(../images/borderLeftBottom.gif) 13px 0px no-repeat;}
TD.borderRightBottom{BACKGROUND-IMAGE:url(../images/borderRightBottom.gif);background-repeat:no-repeat;}
TD.borderBottom{BACKGROUND-POSITION:top;BACKGROUND-IMAGE:url(../images/borderBottom.gif);BACKGROUND-REPEAT:repeat-x}
tr.loginTR td{background-color:white;border-left:3px solid rgb(213,188,229);border-right:3px solid rgb(213,188,229);padding-left:9px;padding-right:9px;font-family:verdana, arial, sans serif;color:rgb(52,35,91);font-size:10px;}
.inputLogin{width:140px;height:18px;border:1px solid rgb(187,187,187);background-color:White;font-family:verdana, arial, sans serif;color:rgb(52,35,91);font-size:10px;}
tr.loginTR2 td{background-color:white;border-left:3px solid rgb(213,188,229);border-right:3px solid rgb(213,188,229);padding-left:9px;padding-right:9px;font-family:verdana, arial, sans serif;color:rgb(52,35,91);font-size:10px;}
tr.loginTR2 td a{color:rgb(52,35,91);}
div.product-list-items{padding:8px 8px 0px 9px;margin:0px;width:100%;}
div.product-list{margin:15px 10px 10px 10px; padding:0px;text-align:center;display:block;float:left;}
a.product-title:link, a.product-title:visited, td.product-title, span.product-title{font:18px Helvetica,'Open Sans';padding:10px 5px 0px 5px;vertical-align:bottom;color:#767676;line-height:18px;display:block;height:40px;}
.extra-touches{margin:3px;box-shadow:0 0 6px #B0C0D4;}
.extra-touches-name{width:90px;height:64px;line-height:16px;color:#767676;text-align:center;}
.extra-touches-image{width:100%;}
.extra-touches-image img{width:auto;max-width:100%;max-height:110px;}
table.extra-class a.show-cart-now, table.extra-class a.show-cart-now-fr{background-size:100%;margin:5px 0px 0px 0px;display:block;width:89px;height:35px;}
span.sku-code, span.price{font:18px Helvetica,'Open Sans';padding:5px 0px 5px 0px;text-align:center;display:block;color:#626262;float:left;width:48%;line-height:14px;height:28px;}
span.sku-code-related{font:18px Helvetica,'Open Sans';padding:5px 0px 5px 0px;text-align:center;display:block;color:#626262;width:100%;line-height:14px;height:16px;}
.price-related{color:#a23437;}
.price-related table{margin-bottom:10px;}
div.product-list-related{margin:15px 10px 10px 10px !important;padding:0px;text-align:center;display:block;box-shadow:0 0 6px #B0C0D4;}
span.price{color:#a23437;font-size:20px;font-weight:bold;width:50%;}
span.price a:link, span.price:visited{font:bold 18px Helvetica,'Open Sans';text-decoration:none;color:#0000FF;}
span.price a:hover{text-decoration:underline;}
div.product-image{text-align:center;}
div.product-detail{font:bold 11px Tahoma, Verdana;padding:5px 5px 5px 5px;text-align:justify;display:block;color:#666666;}
div.product-detail a:link, div.product-detail a:visited{font:bold italic 11px Tahoma, Verdana;text-align:center;display:block;color:#FF6600;}
a.show-cart-now:link, a.show-cart-now:visited{background:url(../images/showcartnow.png) top left no-repeat;margin:5px 0px 0px 28px;display:block;width:119px;height:35px;}
a.show-cart-now-fr:link, a.show-cart-now-fr:visited{background:url(../images/showcartnow_fr.png) top left no-repeat;margin:5px 0px 0px 28px;display:block;width:119px;height:28px;}
div.product-detail a:hover{text-decoration:underline;}
div.form-add-cart{margin-top:10px;font:bold 11px Tahoma, Verdana;color:#a23232;}
div.form-add-cart form, form.add-to-cart{margin:0px;padding:0px;}
img.add-to-cart, img.add-to-cart-img{height:33px;margin-bottom:20px;}
#fl-left img.add-to-cart, img.add-to-cart-img{height:33px;}
div.msgReportBlock{font:bold 11px Tahoma, Verdana;margin:20px 0px 0px 0px;text-align:left;display:block;color:#663366;}
div.msgReport{font:bold 11px Tahoma, Verdana;padding:5px 5px 5px 5px;text-align:center;display:block;color:#663366;}
a.update-cart-item:link, a.update-cart-item:visited, a.delete-cart-item:link, a.delete-cart-item:visited{margin:0px 0px 5px 0px;text-align:center;display:block;}
a.mod-add-to-cart:link, a.mod-add-to-cart:visited{text-decoration:none;margin:5px 5px 15px 5px;display:block;}
.add-to-cart .mod-add-to-cart img{cursor:pointer;}
a.add-shipping-address:link, a.add-shipping-address:visited{text-decoration:none;font-weight:bold;color:#FF0000;}
a.add-shipping-address:hover{color:#333333}
#modalOverlay{background-color:#000;cursor:default;}
td.calculate-price{font:bold 12px Tahomam, Verdana;color:#FF0000;}
td.shipping-method div{display:block;line-height:150%;height:24px;}
td.shipping-method label{font:normal 12px Tahoma, Verdana;}
td.shipping-method div input{margin:2px 5px 0px 0px !important;*margin:-3px 5px 0px 0px !important;display:block;float:left;}
form#adminForm table td{text-align:left;}
div#selectDeliveryOption{}
h2.select-delivery-option{font:bold 12px Tahoma, Verdana, Arial;background-color:#d8bee8;padding:10px 0px 10px 15px;margin:0px 0px 0px 0px;color:black;display:block;}
div.delivery-calendar{font:normal 11px Tahoma, Verdana, Arial;display:block;width:100%;}
div.delivery-calendar-left{margin:10px 10px 0px 15px;display:block;width:355px;float:left;}
div.delivery-calendar-right{background-color:#D6E7D5;margin:10px 0px 10px 0px;padding:5px 5px 10px 5px;height:480px;width:265px;display:block;float:left;}
div.current-select-day{font:bold 12px Tahoma, Verdana, Arial;background-color:#FFFFFF;margin:10px 0px 0px 0px;padding:7px 5px 7px 5px;color:#FF6600;display:block;}
div.select-day-holidays{font:normal 12px Tahoma, Verdana, Arial;margin:10px 0px 0px 0px;padding:0px 5px 7px 5px;color:#000000;display:block;}
div.select-day-holidays ul{margin:10px 0px 0px 0px;padding:0px 0px 0px 20px;line-height:140%;}
div.select-day-holidays ul li{margin:0px 0px 0px 0px;}
a.pre-month:link, a.pre-month:visited, a.pre-month:hover{background:url(../images/pre_month.jpg) 10px 2px no-repeat;padding:0px 5px 0px 10px;}
a.next-month:link, a.next-month:visited, a.next-month:hover{background:url(../images/next_month.jpg) 0px 2px no-repeat;padding:0px 15px 0px 0px;}
div.select-day-note{background:url(../images/bg_calenda.jpg) top left no-repeat;font:normal 11px Tahoma, Verdana, Arial;background-color:#FFFFFF;margin:0px 0px 0px 0px;padding:5px;height:240px;display:block;}
div.select-date-note{font:bold 11px Tahoma, Verdana, Arial;margin:10px 0px 0px 0px;display:block;}
div#yourAddressDelivery{margin:100px 0px 0px 0px;}
div#yourAddressDelivery span.express_image{background:url(../images/car_delivery.png) top left no-repeat;margin:0px 5px 0px 0px;width:56px;height:24px;display:block;float:left;}
div#yourAddressDelivery span.express_image_fr{background:url(../images/car_delivery_fr.png) top left no-repeat;margin:0px 5px 0px 0px;width:56px;height:24px;display:block;float:left;}
div#yourAddressDelivery div.txt-1{margin:0px 0px 5px 0px;display:block;width:100%;float:left;}
div#yourAddressDelivery div.txt-1 input{float:left;}
div#yourAddressDelivery div.txt-1 label{float:left;width:230px;}
div.print-calendar{margin:10px 0px 0px 0px;border-left:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;display:block;}
div.month-actions{font:bold 12px Tahoma, Verdana, Arial;padding:10px 0px 10px 0px;background-color:#d8bee8;text-align:center;color:black;}
div#specialDeliver{display:none;}
div.special-deliver{display:block;color:#0099CC;float:left;cursor:pointer;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;-o-user-select:none;margin:5px 0px 0px 0px;}
span.delivery-money{font-weight:bold;color:#0099CC;}
div#deliverySurcharge{line-height:140%;}
table.calendar{width:100%;height:auto;display:block;border:none;}
table.calendar td{border-top:1px solid #CCCCCC;border-right:1px solid #CCCCCC;}
tr.calendar-row{vertical-align:top}
td.calendar-day{min-height:80px;font-size:11px;position:relative;background-color:#FFFFFF;}
* html div.calendar-day{height:80px;}
td.calendar-day:hover{background:#D2FBB5;}
td.calendar-day-np{background:#E8E8E8;min-height:80px;}
* html div.calendar-day-np{height:80px;}
td.calendar-day-head{background:#d8bee8;color:black;font-weight:bold;text-align:center;padding:5px;}
div.day-number{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;-o-user-select:none;cursor:pointer;margin:-4px 0px 0px -4px;padding:4px 2px 4px 2px;background-color:#999;text-align:center;font-weight:bold;color:#fff;width:20px;float:left;}
td.calendar-day, td.calendar-day-np{width:50px;height:55px;padding:5px;cursor:pointer;}
div.calendar-today{background-color:#FF6600;}
div.calendar-deliver{cursor:pointer;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;-o-user-select:none;background-color:#FF6600;}
div#loadCalendarAjax{background:url(../images/loading.gif) no-repeat;margin:20px 0px 0px 0px;padding:12px 0px 0px 40px;height:32px;display:none;}
#modalOverlay{background-color:#000;cursor:default;}
#modalContainer{height:545px;width:360px;left:50%;top:50%;margin-left:-250px;margin-top:-275px;background-color:#fff;border:2px solid rgb(216, 190, 232);border-radius:3px 3px 3px 3px;box-shadow:0px 0px 6px 1px rgb(216, 190, 232);}
#modalContainer a.modalCloseImg{background:url(../images/calendar_close.jpg) no-repeat;width:20px;height:20px;display:inline;z-index:3200;position:absolute;top:1px;right:3px;cursor:pointer;}
#modalContainer #basicModalContent{padding:8px;}
#selectDeliveryOptionContainer{height:556px;width:668px;left:50%;top:50%;margin-top:-278px;margin-left:-368px;background-color:#fff;border:2px solid rgb(216, 190, 232);border-radius:3px 3px 3px 3px;box-shadow:0px 0px 6px 1px rgb(216, 190, 232);}
#selectDeliveryOptionContainer a.modalCloseImg{background:url(../images/calendar_close.jpg) no-repeat;width:20px;height:20px;display:inline;z-index:3200;position:absolute;top:7px;right:7px;cursor:pointer;}
#selectDeliveryOptionContainer #basicModalContent{padding:8px;}
div#module-pop-up{width:540px;overflow:auto;border:3px solid #483278;}
table.update-billing-table tr th, table.update-shipping-table tr th{font:bold 12px Tahoma, Verdana;background-color:#d8bee8;border:1px solid rgb(216, 190, 232);text-align:center;line-height:120%;color:black;padding:5px;}
div#module-pop-up div.box-txt-ct{width:500px;margin:5px 0px 0px 0px;}
div#module-pop-up div.box-txt-ct div.item-pop-up{width:100%;overflow:auto;margin:5px 0px 0px 0px;}
div#module-pop-up div.box-txt-ct div.item-pop-up div.box-txt-name-pop-up{width:180px;color:#000000;text-align:right;line-height:200%;}
div#module-pop-up div.box-txt-ct div.item-pop-up div.box-ct-name-pop-up{width:310px;color:#000000;text-align:left;margin:0px 0px 0px 10px;}
div#module-pop-up div.box-txt-ct div.box-btn-popup{width:100%;margin:10px 0px 10px 0px;}
div#module-pop-up div.box-txt-ct div.item-pop-up div.box-ct-name-pop-up p{font:normal 12px Tahoma, Verdana;line-height:200%;text-align:left;color:#333333;}
div#module-pop-up div.box-txt-ct div.item-pop-up div.box-ct-name-pop-up select{width:150px;}
div#module-pop-up div.box-txt-ct div.box-btn-popup input.button-1{font:bold 12px Tahoma, Verdana;vertical-align:middle;text-align:center;color:#FFFFFF;height:17px;}
div.corner{background:#FFFFFF url(../images/content_left_bg.jpg) top left no-repeat;overflow:hidden;display:block;width:560px;}
div.corner2{background:url(../images/content_right_bg.jpg) top right no-repeat;display:block;}
div.corner3{background:url(../images/content_bottom_right_bg.jpg) bottom right no-repeat;padding:50px 0px 50px 0px;display:block;}
div.corner3 table tr td{vertical-align:top;}
div.corner3 table tr td.content{font:normal 16px "Times New Roman", Times, serif;padding:0px 20px 0px 10px;color:#7330A5;}
div.corner3 table tr td.content a:link,
div.corner3 table tr td.content a:visited,
div.corner3 table tr td.content a:hover{font:normal 16px "Times New Roman", Times, serif;color:#0000FF;}
div.landing-page{background:url(../images/landing_page.jpg) top center no-repeat;width:559;height:603px;display:block;}
div.landing-page a{float:right;height:35px;margin-top:275px;}
div.landing-page a.enter-page{margin-right:5px;display:block;width:70px;}
div.landing-page a.rules-page{margin-right:5px;display:block;width:70px;}
div.landing-page a.trailer-page{margin-right:5px;display:block;width:90px;}
span.require{color:#FF0000;}
table.enter-page{background:url(../images/enter_page.jpg) top center no-repeat;}
table.enter-page td.title{font:bold 11px Tahoma, Verdana, Arial;text-align:left;color:#000000;}
table.enter-page td.text-field{text-align:left;padding-bottom:10px;}
h2.product-name{text-align:left;display:block;font-size:18px;font-weight:bold;padding:0px;margin:0px;color:#4D2C6D;}
span.product-name{color:#800080;}
span.extra_touch{color:#000;}
span.product-name,span.extra_touch{font:18px Helvetica,'Open Sans';padding:10px 5px 0px 5px;vertical-align:bottom;height:42px;font-weight:bold;}
.product_name_div{text-align:center;}
span.product-price{font:18px Helvetica,'Open Sans';font-weight:bold;vertical-align:bottom;color:#000;}
.select_bouquet_table tr:first-child td{border-bottom:2px solid #ccc;}
.select_bouquet_table tr:last-child td{border-top:2px solid #ccc;}
.select_bouquet_table{border-radius:10px;border:2px solid #ccc;background-color:rgb(237, 237, 237);}
.select_bouquet_table tr td{padding:10px;color:#000;font-weight:bold;font-size:13px;}
.select_bouquet_table tr td input[type="radio"],.extra_products_checkbox{width:20px;height:20px;position:relative;cursor:pointer;}
.social-link img{cursor:pointer;}
div.product-desc{text-align:left;display:block;font-size:12px;padding:0px;margin:15px 0px 0px 0px;line-height:140%;color:#000;}
div.product-desc font{color:#333333;}
div.product-desc-new{text-align:left;display:block;font-size:12px;padding:0px;margin:15px 0px 0px 0px;line-height:140%;color:#000;float:left;}
div.product-desc-new font{color:#333333;}
h3.related-products{font-size:14px;font-weight:bold;}
fieldset.checkout-login{margin:0px 0px 10px 0px;text-align:center;width:500px;}
div.checkout-login-left{float:left;width:35%;text-align:right;font-weight:bold;padding:0px 0px 5px 0px;}
div.checkout-login-right{float:left;width:63%;text-align:left;margin:0px 0px 0px 7px;padding:0px 0px 5px 0px;}
div.checkout-register-btn{padding:0px 82px;}
input.btn{background:url(../images/btn.png) top left no-repeat;font:bold 12px Tahoma, Verdana, Arial;padding:5px 0px 9px 0px;cursor:pointer;text-align:center;color:#FFFFFF;width:90px;display:block;border:none;}
input.btn4{background:url(../images/btn4_2.png) top left no-repeat;font:bold 12px Tahoma, Verdana, Arial;padding:5px 0px 9px 0px;text-align:center;color:#FFFFFF;cursor:pointer;width:150px;display:block;border:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){input.btn, input.btn4{padding:8px 0px 9px 0px;cursor:pointer;}
}
div.delivery-intro{font:bold 10px Arial, Helvetica, sans-serif;text-transform:uppercase;text-align:right;color:#B53042;}
div.delivery-intro a{font:bold 10px Arial, Helvetica, sans-serif;color:#4A206B;}
table.top-img-menu a:link, table.top-img-menu a:visited, table.top-img-menu a:hover{margin:0px;padding:0px;height:20px;display:block;vertical-align:bottom;}
td.left-top-menu-space{width:28px;}
td.right-top-menu-space{width:26px;}
td.left-top-menu-space-fr{width:28px;}
td.right-top-menu-space-fr{width:26px;}
td.center-top-menu-space{width:450px;}
td.center2-top-menu-space{width:283px;}
td.center-top-menu-space-fr{width:485px;}
td.center2-top-menu-space-fr{width:248px;}
table.occ-form{margin:5px 0 20px;}
h3.occ-form-heading{background:url(../images/occ-form-heading.jpg) no-repeat 0 0;padding:0 0 0 95px;margin:0;color:#fff;font-weight:bold;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;height:35px;line-height:22px;}
div.occ-form{background:url(../images/occ-form-bg-middle.jpg) repeat-y left;width:562px;}
div.occ-form-inner{background:url(../images/occ-form-bg-bottom.jpg) no-repeat bottom;min-height:300px;padding:10px 10px 25px 20px;}
div.occ-form form{border:1px solid #785A8C;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;width:232px;padding:10px 20px;}
div.occ-form form label{display:block;font-weight:bold;font-size:14px;color:#2C165E;}
div.occ-form form input.inputbox{height:12px;padding:2px;width:218px;}
div.occ-form form div.input-text{margin:0 0 4px;}
div.occ-form-inner ul{font-size:14px;margin:0 0 20px;padding:13px;}
div#ticket_5051_po{top:0;width:285px;padding:3px;display:none;;overflow:hidden;position:absolute;margin:25px 0 0 177px;-moz-border-radius:8px;border-radius:8px;border:2px solid #de2f0a;background-color:#fbcf80;}
span#ticket_5051_po_close, span#address_2_shipping_po_close{background:url(../images/cancel_16.png) no-repeat 0 0;margin:-2px -2px 0px 0px;position:relative;cursor:pointer;display:block;height:16px;width:16px;float:right;}
div#address_2_shipping_po{top:0;width:285px;padding:3px;display:none;;overflow:hidden;position:absolute;margin:143px 0 0;-moz-border-radius:8px;border-radius:8px;border:2px solid #de2f0a;background-color:#fbcf80;}
#new_register_form{color:#767675;}
#new_register_form tr td{vertical-align:top;}
#new_register_form_left{width:350px;}
#new_register_form_right{width:325px;}
.new-checkout-login-right,.new-checkout-login-right2{margin:0px 0px 10px 0px;}
.new-checkout-login-left,.new-checkout-login-left2{padding:1px 5px 0px 0px;font:bold 13px arial;float:left;text-align:right;width:150px;}
.new-checkout-login-left2{width:125px;}
.new-checkout-login-right input,.new-checkout-login-right2 input,.new-checkout-login-right select{padding:2px;margin:0px;font:11px Arial;border:1px solid #CCC;box-shadow:0 0 6px 1px #ddd;width:165px;}
.new-checkout-address-right input,.new-checkout-address-right2 input,.new-checkout-address-right select{padding:1px;margin:0px;font:12px Arial;border:1px solid #CCC;color:#767675;box-shadow:0 0 6px 1px #ddd;width:165px;}
.new-checkout-address-right select{width:171px;}
.new-checkout-address-right input:hover,.new-checkout-address-right2 input:hover,.new-checkout-address-right select:hover{box-shadow:0 0 1px 1px #777;}
.new-checkout-login-right select{width:171px;}
.new-checkout-login-right input:hover,.new-checkout-login-right2 input:hover,.new-checkout-login-right select:hover{box-shadow:0 0 1px 1px #777;}
.new_checkout_header{margin:5px 0px 5px 10px;text-align:center;cursor:default;color:#a23232;text-transform:uppercase;font:bold 24px arial;}
.new_checkout_header_sub{margin:5px 0px 5px 10px;text-align:center;cursor:default;color:#b58ab8;text-transform:uppercase;font:bold 24px arial;}
.new-register-form-fieldset{text-align:right;border:none;}
.new_checkout_upd_address_button{background:url('/images/clear.png') no-repeat 100% 100%;margin:0px 0px;padding:2px;font:bold 13px Arial;border:none;width:165px;line-height:21px;color:#432870;cursor:pointer;text-transform:capitalize;}
.new_checkout_upd_address_button:hover{}
.new_checkout_register_button{background:url('/images/clear.png') no-repeat 100% 100%;margin:10px 0px;padding:2px;font:bold 13px Arial;border:none;width:165px;line-height:21px;color:#432870;cursor:pointer;text-transform:capitalize;}
input#btnSelectDeliveryOption{background:url('/images/clear.png') no-repeat 100% 100%;background-size:100%;margin:10px 0px;padding:2px;font:bold 13px Arial;border:none;width:185px;line-height:21px;color:#432870;cursor:pointer;text-transform:capitalize;}
.bold{font-weight:bold;}
.checkout-reset-pass-link,checkout-reset-pass-link:visited{cursor:pointer;font:11px Arial;color:#767675;}
.checkout-reset-pass-link:hover{text-decoration:underline;}
.new_checkout_login_button{background:url('/images/buttonFon.png') no-repeat 100% 100%;background-size:100%;width:124px;height:38px;border:none;color:#FFF;font-size:14px;font-weight:bold;}
.new-checkout-form-missed-field{color:red;}
div.main-bg-midd-top p{margin:0px;padding:0px;}
div.container-survey{width:550px;height:880px;margin:0 auto;padding:0 0 0 22px;}
div.body-survey{padding:0 0 0 0;}
h2.header-survey{display:block;color:#de63cb;}
span.help-survey{display:none;color:#de63cb;}
div.event-date-input,
div.event-date-p{float:left;}
div.event-date-input{background:url("../images/form_survey.gif") no-repeat;width:95px;height:20px;cursor:pointer;}
div.event-date-input label{cursor:pointer;}
input.event-date,
input.event-date:focus{background:transparent;border:none;width:75px;height:17px;padding:2px;}
div.input-survey{float:left;}
div.rate-survey{width:360px;float:left;}
div.rate-survey-1{float:left;width:180px;text-align:right;padding-right:2px;}
div.rate-survey-2{background:url("../images/close_survey.jpg") no-repeat;float:left;width:13px;cursor:pointer;}
div.rate-survey-3{background:url("../images/scale_survey.jpg") no-repeat;float:left;width:69px;height:16px;cursor:pointer;}
div.rate-scale{float:left;width:13px;}
span.scale{font-size:10pt;font-weight:bold;}
div.overall-rating{background:url("../images/bg_survey_2.jpg") no-repeat;float:left;width:142px;height:112px;margin:0 0 0 30px;text-align:center;}
#overall-rating-digit{font-size:14pt;font-weight:bold;}
#overall-rating-pic{background:url("../images/scale_survey.jpg") no-repeat;width:69px;height:16px;margin:0 auto;}
div.survey-comments{float:left;width:550px;}
div.submit-survey{float:right;margin:0 15px 20px 0;}
div.submit-survey input{background:url("../images/submit_survey.jpg") no-repeat;width:107px;height:29px;border:none;color:#FFFFFF;font-weight:bold;font-size:12pt;cursor:pointer;}
#ajax-loader{position:fixed;left:50%;top:35%;}
div.help-survey-box{display:none;position:absolute;background-color:#f4f4f4;border:solid 1px #de63cb;width:240px;padding:5px;text-align:left;float:none;margin-left:175px;}
div.main-bg-midd{background:url("../images/bg_main_midd_top.png") no-repeat scroll right top transparent;margin:0px;padding:0px;text-align:left;width:1000px;}
div.main-bg-midd-top{background:url("../images/bg_main_midd.png") repeat-y scroll left top transparent;display:block;margin:0px;min-height:500px;padding:0px;width:1000px;}
div.main-bg-midd-top p{margin:0px;padding:0px;}
div.bg_content{background-color:#FFFFFF;float:left;padding-left:6px;padding-right:6px;vertical-align:top;width:736px;}
.product_page_img{width:222px !important;height:291px !important;}
.presentation{margin:0px;padding:10px;width:300px;height:300px;vertical-align:top;}
.presentation .ptitle{margin:0px;padding:0px;width:300px;height:100px;color:#2b0a4e;font:bold 40px Lobster;border-bottom:2px solid #acacac;}
.presentation .red{color:#df0024;}
.presentation .psubtitle{margin:0px;padding:0px;width:300px;height:70px;font:bold 28px Open Sans-Italic;color:#2b0a4e;}
.presentation .ptext{margin:0px;padding:0px;width:300px;height:130px;font:bold 24px Open Sans-Italic;color:#7d7d7d;vertical-align:top;}
#bottom-form-presentetion{padding:10px;border:1px solid #acacac;}
#bottom-form-presentetion img{padding:5px;border:1px solid #acacac;cursor:pointer;}
#calculateOrderPrice, #saveOrder{background-size:100%;width:185px;}
.footer-products h1{margin:0px;}
.popup_wrapper{background:black;height:100%;opacity:0.5;position:fixed;width:100%;z-index:100;top:0;left:0;display:none;}
#popup-table{height:250px;width:848px;}
#popup_label{padding-left:60px;font-size:18pt;color:#A00801;}
#popup-product-img{float:right;padding-top:5px;padding-right:40px;}
#popup-product-img img{height:189px;}
a{cursor:pointer;}
.socials_box{text-align:left;}
.social_button{display:inline-block;width:40px;height:40px;margin:10px 0px 0px 10px;}
.social_button:hover{cursor:pointer;}
.button_facebook{background-image:url("/images/social/Facebook-icon.png");}
.button_twitter{background-image:url("/images/social/Twitter-icon.png");}
.button_google{background-image:url("/images/social/Google-icon.png");}
.social_header{margin:5px 0px 5px 10px;text-align:left;cursor:default;color:#b58ab8;text-transform:uppercase;font:bold 24px arial;}
.social_net_box{padding-left:13px;}
#resizedBanner{height:88px;}
#new-main-table{height:266px;}
table.update-shipping-table td{padding:6px 5px 5px 5px !important;*padding:5px 4px 4px 4px !important;}
.mobile_hidden {
    display: none;
}
a.productlist_a_title:link {
    font: 18px Helvetica,'Open Sans';
    /* padding: 10px 5px 0px 5px; */
    vertical-align: bottom;
    color: #767676;
    line-height: 18px;
    display: block;
    height: 40px;}

@media (min-width: 0px) and (max-width:1025px)  {
    div.product-list{margin: 15px 0px 10px 10px !important;}
}

.product_detail_call {
    background-color: #A40001;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
